on:
  #Set to trigger on every merge to main, not just a closed PR.
  pull_request_target:
    branches:
      - main
    types: ["closed"]

jobs:
  cherry_pick:
    runs-on: ubuntu-latest
    name: Cherry pick into main
    # if: github.event.pull_request.merged == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: Cherry pick
        run: |
          git remote add fork https://github.com/${{github.event.pull_request.head.repo.full_name}}.git
          git fetch fork
          git cherry-pick ${{github.event.pull_request.head.sha}}
          git push origin main
