on:
  #Set to trigger on every merge to main, not on a closed PR.
  pull_request_target:
    branches:
      - main
    types: ["closed"]

jobs:
  cherry_pick:
    runs-on: ubuntu-latest
    name: Cherry pick into main
    # if: github.event.pull_request.merged == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Create A PR
        uses: devops-infra/action-pull-request@v0.4.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          source_branch: ${GITHUB_ACTOR}:main
          target_branch: xBalbinus: master
          title: Automatic update
          body: "**Automated pull request**"
          old_string: "**THIS IS AN AUTOMATED UPDATE TEST**"
          new_string: "** Automatic pull request**"
          get_diff: true
          ignore_users: "dependabot"
          
